/* custom stylesheet */

@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);
@font-face {
	font-family: "bahiana-regular";
	src: url('../fonts/Bahiana-Regular.otf');
}
@font-face {
	font-family: "grutch";
	src: url('../fonts/GrutchShaded.ttf');
}
@font-face {
	font-family: "nameless";
	src: url('../fonts/nameless-harbour.ttf');
}

