/* custom stylesheet */

@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);

@font-face {
	font-family: "bahiana-regular";
	src: url('fonts/Bahiana-Regular.otf');
}
@font-face {
	font-family: "grutch";
	src: url('fonts/GrutchShaded.ttf');
}
@font-face {
	font-family: "nameless";
	src: url('fonts/nameless-harbour.ttf');
}

/* General
==================== */

body {
	background: #cb4a1d;
	background-image: url(images/dark-canvas-tile.png);
	color: #f5f4e6;
	line-height: 2.1;
	font-family: nunito, helevetica, sans-serif;
	font-size: 1.3em;	
}
	
/* Header and Nav
==================== */

.navbar-brand img {
	width: 72px;
	margin-top: -8px;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.navbar-brand-container {
	position: relative;
	float: left;
	height: 88px;
	width: 100%;
	padding: 5px 0;
}
.navbar-brand-container .overlay-orange {
	position: absolute;
	z-index: 15;
	top: 0;
	left: -2px;
	width: 100%;
	padding: 10px;
	height: 98%;
	background: linear-gradient(to bottom, rgba(203, 74, 29, 0.15), rgba(203, 74, 29, 0.6), rgba(203, 74, 29, 0.7) );
}

/* navbar-brand css for a font text */
.navbar-brand h1 span  {
	position: relative;
	display: block;
	margin-top: -20px;
	margin-left: 2%;
	/*margin-left: -2px;*/
	padding-top: 0;
	padding-left: 0;
	color: #893315 !important; 
	font-family:  bahiana-regular, sans-serif;
	font-size: 1em;
	width: 100%;
	line-height: 2;
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	cursor: pointer;
	z-index: 100;
}

.navbar-brand a:hover {
	text-decoration: none;
}

.page-header {
	background: #cb4a1d;
	/*background: #4F6EB8;*/
	background-image: url(images/dark-canvas-tile.png);
	border: 1px solid transparent;
	border-radius: 8px;
}

.navbar  {
	border: none;
	box-shadow: none;
}

.navbar-nav {
	font-family: bahiana-regular, sans-serif;
	font-size: 0.8em;
	padding: 10px;
	background-image: url(/images/dark-canvas-tile.png);
	/*border-top: 2px solid orangered;
	border-bottom: 2px solid orangered;*/
	line-height: 110px;
}

.navbar-right {
	/*box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1);*/
}

/* Full-width navbar area */
.navbar-default {
	background: #cb4a1d;
	border-radius: 8px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1);
}

.container-fluid {
	
}

.navbar-header {
	background: #cb4a1d;
	/*background: #4F6EB8;*/
	/*background-image: url(images/dark-canvas-tile.png);*/
	border: none;
}

.navbar-default .navbar-nav>.active>a {
	background-image: -webkit-linear-gradient(to bottom, #cb4a1d 0, #cb4a1d 100%);
	background-image: linear-gradient(to bottom, #cb4a1d 0, #cf4f1f 100%);
	outline: none;
	border: none;
}

.nav a {
	color: #f5f4e6 !important; 
	font-size: 2em; 
}

ul li.active {
	outline: 1px solid orangered;
}
/* End header and nav */

/* Jumbotron
=============== */

.jumbotron {
	background: linear-gradient(to bottom, rgba(203, 74, 29, 0.0), rgba(203, 74, 29, 8), rgba(203, 74, 29, 1), rgba(203, 74, 29, 0), rgba(203, 74, 29, 0), rgba(203, 74, 29, 0) ); 
	margin: 0 auto;
	padding: 40px 0 !important;
	color: #a0300f;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0, .1);
	border: 2px solid orangered;
}

.jumbotron .container {
	width: 83%;
	background: linear-gradient(to bottom, rgba(203, 74, 29, 0.0), rgba(203, 74, 29, 8), rgba(203, 74, 29, 1), rgba(203, 74, 29, 0), rgba(203, 74, 29, 0), rgba(203, 74, 29, 0) ); 
}

.jumbotron h3 {
	font-family: bahiana-regular, sans-serif;
	font-size: 6.5em;
	color: rgb(160, 48, 15);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	margin-top: -10px;
	margin-bottom: 15px;
	text-align: center;
}

/* little scratches on either side of the h3 tags */
.jumbotron h3 span {
	color: rgba(160, 48, 15, 0.55);
}
.col-md-4 h3 span {
	font-family: grutch;
	font-family: nameless;
	text-shadow: none;
}

.col-md-4 h3,
.col-md-4 .lead {
	-moz-transform: rotate(-2deg) skewY(-5deg);
	-webkit-transform: rotate(-2deg) skewY(-5deg);
	-o-transform: rotate(-2deg) skewY(-5deg);
	-ms-transform: rotate(-2deg) skewY(-5deg);
	transform: rotate(-2deg) skewY(-5deg);
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

.jumbotron-row {
	position: relative;
}

.jumbotron-row .tagline {
	margin-bottom: 25px;
}

/* tagline gradiated overlay */
.jumbotron-row .tagline .overlay-orange {
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	height: 98%;
	background: linear-gradient(to bottom, rgba(203, 74, 29, 0.15), rgba(203, 74, 29, 0.6), rgba(203, 74, 29, 0.7) );
}

/* bio img gradiated overlay */
.overlay-reddish {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 101%;
	border-radius: 22px;
	background: linear-gradient(to bottom, rgba(137, 51, 21, 0), rgba(137, 51, 21, 0.45), rgba(137, 51, 21, 0.65));
}

.jumbotron figure {
	position: relative;
	float: left;
	width: 100%;
}

.jumbotron figure img {
	width: 100%;
	border: 4px solid #893315;
	border-radius: 12px;
	-webkit-box-shadow: 8px 8px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 8px 8px 2px 1px rgba(0,0,0,0.2);
}

.jumbotron figure,
.jumbotron figure img,
.overlay-reddish {
	-moz-transform: rotate(1deg) translateY(2px) skewY(1deg);
-webkit-transform: rotate(1deg) translateY(2px) skewY(1deg);
-o-transform: rotate(1deg) translateY(2px) skewY(1deg);
-ms-transform: rotate(1deg) translateY(2px) skewY(1deg);
transform: rotate(1deg) translateY(2px) skewY(1deg);
}

/* End jumbotron */














/* =================
	Media Queries
   ================= */
   
   @media (max-width: 1200px) {
	   
	.navbar-brand img {
		width: 70px;
		margin-top: -10px;
		margin-right: -10px;
	}

	.navbar-brand-container {
		height: 84px;
		width: 100%;
	}
	
/* navbar-brand css for a font text */
.navbar-brand h1 span  {
	padding-top: 4px;
	font-size: 0.9em;
	width: 100%;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
	   
	   
	.jumbotron {
		margin-top: -40px;
	}
	   
	.jumbotron .container {
		width: 98%;
	}

	.jumbotron h3 {
		font-size: 6em;
	}

	 @media (max-width: 993px) {
		 
		 .jumbotron h3 {
			 margin-top: 35px;
		 }
		 p.lead {
			 margin-bottom: 45px;
			 text-align: center;
		 }
	   
	 }
	 
	  @media (max-width: 767px) {
		  .navbar-brand h1 span {
			 width: 160px;
			 margin-left: -14px;
		 }
	  }
	 
	
}